footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: var(--s-s) var(--s-m);

  > * {
    display: flex;
    column-gap: var(--s-xl);
    flex: 1;
    flex-direction: row;
    align-items: center;
  }

  #info-app {
    justify-content: end;

    > *:last-child {
      min-width: calc(var(--fs-0) * 6);
      text-align: right;
    }
  }

  @media screen and (min-width: 1440px) {
    padding: var(--s-s) calc(((100dvw - 1440px) / 2) + var(--s-m));
  }
}
