@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&display=swap");

html {
  margin: 0;
  background: var(--base);
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background: var(--base);
  height: 100dvh;
  max-height: 100dvh;
  font-size: var(--fs-0);
}

* {
  box-sizing: border-box;
  outline: none;
  border-radius: var(--border);
  color: var(--text);
  font-weight: inherit;
  font-size: inherit;
  font-family: "M PLUS 1 Code", monospace;
}

button {
  border: none;
  background-color: transparent;
  padding: var(--s-3xs) var(--s-s);

  &:hover {
    background-color: var(--overlay) !important;
  }
}

code {
  background: var(--surface);
  padding: 2px var(--s-3xs);
}

table {
  border: var(--border) solid var(--crust);

  caption {
    h3 {
      font-weight: 400;
      font-size: var(--fs-0);
      white-space: nowrap;
    }
  }

  th:first-child,
  td:first-child {
    width: 1%;
  }

  th {
    width: 30%;
    font-weight: 900;
    text-align: start;
  }

  td {
    font-weight: 400;
    font-family: monospace;
  }

  th,
  td {
    padding: var(--border) var(--s-s);
  }
}

.checkbox {
  display: flex;
  column-gap: var(--s-2xs);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  * {
    cursor: pointer;
  }

  label {
    user-select: none;
  }

  > input {
    margin: 0;
    background-color: var(--overlay);
    padding: 0;
    accent-color: var(--mauve);
  }
}

/* DROPDOWN */
.dropdown {
  display: flex;
  position: relative;
  flex-direction: column;

  &:hover,
  &:focus {
    .dropdown-content {
      display: flex;
    }
  }

  > label {
    display: flex;
    column-gap: var(--s-s);
    flex-direction: column;
    justify-content: start;
    align-items: center;

    .current-value {
      color: var(--subtext);
      text-decoration: underline;
    }
  }

  > .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    flex-direction: column;
    z-index: 1;
    border-top: none;
    background-color: var(--overlay);
    min-width: 100%;

    > button {
      width: 100%;
      text-align: left;
    }
  }
}
