@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&display=swap");

html {
  margin: 0;
  background: var(--base);
}

body {
  margin: 0;
  background: var(--base);
  min-height: 100dvh;
  color: var(--text);
  font-size: var(--fs-0);
}

* {
  box-sizing: border-box;
  outline: none;
  border-radius: var(--border);
  background-color: transparent;
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  font-family: "M PLUS 1 Code", monospace;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

button {
  cursor: pointer;
  border: none;
}

code {
  border: var(--border) solid var(--overlay);
  background: var(--mantle);
  padding: 0 var(--s-3xs);
}

.hide {
  visibility: hidden;
}

/* CHECKBOX */
.checkbox {
  cursor: pointer;

  * {
    cursor: pointer;
  }

  > label {
    user-select: none;
    white-space: nowrap;
  }

  > input {
    background-color: var(--surface);
    accent-color: var(--blue);
  }
}

/* DROPDOWN */
.dropdown {
  position: relative;
  cursor: pointer;

  > .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
  }

  &:hover,
  &:focus {
    > .dropdown-content {
      display: flex;
    }
  }
}
