header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-bottom: var(--border) solid var(--muted);
	background: var(--surface);
	padding: var(--s-3xs) var(--s-m);

	@media screen and (min-width: 1440px) {
		padding: var(--s-3xs) calc(((100dvw - 1440px) / 2) + var(--s-m));
	}
}

hgroup {
	display: flex;
	column-gap: var(--s-m);
	flex-direction: row;
	flex-wrap: wrap;
	align-items: start;
	padding: var(--s-xs) 0;
	width: 100%;

	h1 {
		margin: 0;
		color: var(--gold);
		font-weight: bold;
		font-size: var(--fs-5);
	}

	h2 {
		margin: 0;
		color: var(--rose);
		font-weight: normal;
		font-size: var(--fs-2);
	}
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;

	>div {
		display: flex;
		flex-direction: row;
		align-items: start;
		height: 100%;

		>.dropdown {
			height: 100%;

			>button {
				height: 100%;
			}
		}
	}
}
