main {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	padding: 0 var(--s-m);
	width: 100%;

	#info {
		display: flex;
		column-gap: var(--s-3xl);
		flex: 1;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: var(--s-xs) 0;
		width: 100%;
		font-size: var(--fs-2);

		* {
			flex: 1;
			font-size: inherit;
		}

		#suite-info {
			text-align: end;
		}

		.value {
			color: var(--iris);
		}

		.primed {
			color: var(--gold);
		}

		.running {
			color: var(--foam);
		}
	}

	#text-editor {
		display: flex;
		flex: 3;
		flex-direction: column;
		border-top: var(--border) solid var(--overlay);
		border-bottom: var(--border) solid var(--overlay);
		padding: var(--s-s);
		width: 100%;
		overflow-y: auto;
		scroll-snap-type-y: mandatory;

		&::-webkit-scrollbar {
			display: none;
		}

		.line {
			word-wrap: break-word;
			filter: blur(2px);
			font-size: inherit;

			* {
				scroll-margin-top: var(--s-m);
				font-size: inherit;
			}

			.newline {
				color: var(--muted);
			}

			.current {
				text-decoration: underline;
			}

			.correct {
				color: var(--foam);
			}

			.invalid {
				color: var(--love);
			}
		}

		.comment {
			color: var(--muted);
		}

		.title {
			color: var(--iris);
		}

		&:focus-within {
			.line {
				filter: none;
			}
		}

		#help-message {
			font-size: var(--fs-0);

			h3 {
				color: var(--iris);
				font-size: var(--fs-2);
			}

			* {
				font-size: inherit;
			}
		}
	}

	#text-editor-instructions {
		flex: 1;
		padding: var(--s-xs) 0;
		width: 100%;
		color: var(--subtle);
		text-align: center;
	}

	@media screen and (min-width: 1440px) {
		padding: var(--s-3xs) calc(((100dvw - 1440px) / 2) + var(--s-m));
	}
}

.results {
	display: flex;
	column-gap: var(--s-m);
	flex-direction: column;

	>div {
		display: flex;
		flex-direction: column;
		align-items: center;

		h3 {
			width: 100%;
			color: var(--rose);
			font-size: var(--fs-2);
			text-align: center;
		}

		>div {
			padding-left: var(--s-3xl);
			width: 100%;

			span {
				font-size: var(--fs-1);
			}

			.indent {
				padding-left: var(--s-m);
			}

			.special {
				color: var(--foam);
			}
		}
	}
}
