nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  background: var(--mantle);
  padding: var(--s-s) var(--s-m);

  > h1 {
    margin: 0;
    color: var(--blue);
    font-size: var(--fs-5);
  }

  > div {
    display: flex;
    column-gap: var(--s-m);
    flex-direction: row;
    align-items: end;
    font-size: var(--fs-0);

    > .dropdown {
      > .dropdown-content {
        left: 50%;
        row-gap: var(--s-3xs);
        flex-direction: column;
        transform: translateX(-50%);
        background: var(--surface);
        padding: var(--s-3xs);
        width: max-content;
        min-width: 100%;

        > button {
          display: flex;
          column-gap: var(--s-s);
          flex-direction: row;
          justify-content: space-between;
          width: 100%;
          text-align: start;
          white-space: nowrap;
        }
      }
    }
  }

  @media screen and (min-width: 1440px) {
    padding: var(--s-s) calc(((100dvw - 1440px) / 2) + var(--s-m));
  }
}
