#results {
	#result-suite-info {
		display: flex;
		flex-direction: column;

		h3 {
			margin: 0;
			font-size: var(--fs-3);

			span {
				color: inherit;
				font-size: inherit;

				&:last-of-type {
					font-weight: normal;
				}
			}
		}
	}
}
