<div id="help-message">
  <h3>Welcome</h3>
  <p>
    In the endless attempt to find a frictionless, keyboard centric, developer setup, I've created myself lot of extra
    work. Rather than using my work time to configure my Neovim setup, I used it to build this web app! (For future
    employers, I promise this is just a joke). <code>programmer-type</code> was built to test out new keyboard layouts
    for developer centric tasks. Whilst this is certainly not the best typing test on the internet, it attempts to
    highlight issues with your layout that you would otherwise encounter at work; Without adding to your list of
    uncompleted projects.
  </p>
  <h3>Keyboard Inputs</h3>
  <p>
    Designed with context-driven keyboard navigation in mind (kind of the whole point of the application). Turn off your
    Vimium and follow the bindings wrapped with braces <code>[X]</code>. Context-driven meaning that if some sub-menu is
    open, only keys from this menu will be valid next inputs; Anything else will reset the context. You can view the
    current key combination in the bottom right; Where *base* indicates that you have no context.<br />
    The buttons work too, but don't be expecting a flawless experience if you're jumping from mouse interactions to
    keyboard interactions.<br />
    - <code>Esc</code>: to reset the context.<br />
    - <code>:q</code>: to exit the text editor.<br /><br />

    You can also navigate with some Vim inspired commands.<br />
    - <code>Ctrl + d</code>: Scroll main area down<br />
    - <code>Ctrl + u</code>: Scroll main area up<br />
  </p>
  <h3>Test Types</h3>
  <p>
    A keyboard layout's effectiveness goes beyond being able to just program. There is OS navigation, File Navigation,
    Web Searches and other common actions that a keyboard centric developer may want to test out. In the "Problem Set",
    you will find a range of different tests:
  </p>
  <div>
    <table>
      <thead>
        <tr>
          <th>Type</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Code</td>
          <td>
            Coding challenges are simple typing tests, but with programs instead of random words. New line characters
            are explicitly defined. Beware, word wrap is on.
          </td>
        </tr>
        <tr>
          <td>Actions</td>
          <td>
            Action challenges require you to follow the instructions on screen, and enter in commands perfectly. Invalid
            inputs will reset the line. Completed lines may have some action associated with them, which will usually be
            explained in the comment above, but will also be be indicated as done with an additional comment added to
            the line.
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
