<div id="info-message">
  <h3>Welcome</h3>
  <p>
    Ever felt like your keyboard is a mysterious artifact from an ancient civilization? Fear not, brave coder!
    <code>ProgrammerType</code> is here to transform you into a keyboard wizard faster than you can say
    <span class="correct">“Hello, World!”</span> Whether you’re looking to master new keyboard layouts, discover
    shortcuts that make your fingers dance, or simply want to test your programming typing speed, we've got you covered.
    Say goodbye to the days of hunting and pecking like a lost pigeon and hello to the era of blazingly-fast, error-free
    typing! Join us on this epic quest to conquer the keyboard and become the ultimate developer! (Or maybe just reduce
    your skill issues).
  </p>

  <h3>Keyboard Inputs</h3>
  <p>
    This application is designed with context-driven keyboard navigation. Remember to disable Vimium and follow the key
    bindings indicated by braces <code>[X]</code>. Context-driven navigation meaning that when a sub-menu is open, only
    keys from that menu will be valid next inputs. You can view the current key context in the center of the footer,
    where *base* indicates no active context. While the buttons are functional, switching between mouse and keyboard
    interactions may not provide a seamless experience.
  </p>
  <p>
    The center console (what you're currently looking at) will be highlighted when active (press "Enter"). Below the
    console will indicate keyboard inputs that are relvant to the console based on the state it's in.
  </p>

  <h3>Suite Types</h3>
  <p>
    For keyboard centric developers, a keyboard layout's effectiveness goes beyond being able to enter a sequence of
    English characters. There is OS navigation, File Navigation, Web Searches, Special Characters and other common
    components that need to be considered and practiced.
  </p>
  <h4>Code Suites</h4>
  <p>
    Coding challenges are typing tests as you've seen them before. Attempt to correctly type out the sequence of
    characters on screen as fast as you can. The twist - character sequences are code snippets. The idea here is to
    test/practice your ability to use common programming character sequences. With that in mind, the following
    constraints have been implemented:
  </p>
  <ul>
    <li>
      <span class="correct">Indentation</span>: Automatic Indentation has been implemented. Each line will start at the
      first significant character.
    </li>
    <li>
      <span class="correct">New-Line Characters</span>: For UX reasons (font-size, screen-size, word-wrap) new line
      characters are explicitly defined by <code>\n</code>. You only need press Enter when encountering this symbol.
    </li>
    <li>
      <span class="incorrect">No Auto-Complete</span>: Your daily programming setup probably has some more tools that
      make you blazingly fast. That's not really what we are testing here though.
    </li>
    <li>
      <span class="incorrect">Limited Languages</span>: Your favourite language isn't in the mix?! OUTRAGEOUS! Keep in
      mind that we are testing/practicing character sequences. The available programming languages aim to cover a wide
      range of character sequences using as few test suites as possible. Less maintenance 🤷.
    </li>
  </ul>
  <h4>Action Suites</h4>
  <p>
    Action challenges are more complicated tests that require you to follow the instructions on screen. This will likely
    require you to jump to another program or open a new tab. <code>ProgrammerType</code> does not track your activity
    outside of this web application, so completing tasks as instructed will be up to you.
  </p>
  <p>
    Where required, you might be asked to simulate keyboard inputs from another program. Unlike Coding Challenges,
    incorrect inputs in these cases will reset the entire line. Accuracy is required here.
  </p>
  <p>
    Actions might require extra permissions from this web app. Access to your clipboard or file system might be
    required. Just bare this in mind as your browser might ruin your first attempt by asking for these permissions.
  </p>

  <h3>Caching Tests</h3>
  <p>
    Down the bottom of your screen is a "Cache" checkbox for the local storage of test data. By checking this tickbox,
    tests will be cached in local storage after first fetch, and will be loaded from local storage upon seeing it again.
    Please consider using this option if you have the resources available. By "unchecking" this tickbox, you will clear
    all local storage (if needed).
  </p>

  <h3>Results Explained</h3>
  <p>
    Once you have finished a test, an overview screen will appear. Each of the components has a tooltip associated to
    them, but if you didn't want to use your mouse, here is an explanation of each of the components on that screen; Top
    to Bottom, Left to Right.
  </p>
  <ul>
    <li><code>WPM</code>: Words Per Minute. An approximation of WPM based on Characters Per Second.</li>
    <li><code>ACC</code>: Accuracy. What percentage of keyboard inputs were correct on first-try.</li>
    <li><code>Graph</code>: White: Total, Green: Correct, Red: Incorrect, Yellow: Backspace. Characters Per Second</li>
    <li><code>Test Type</code>: Test information based on user selected settings.</li>
    <li><code>Raw</code>: Keystrokes per seconds (including backspaces and incorrect characters).</li>
    <li><code>Characters</code>: Correct/Incorrect/Backspaces.</li>
    <li><code>Consistency</code>: How rythmic is your typing. 100% means you type at a consistent speed.</li>
    <li><code>Time</code>: The length of the test. Might differ from duration if you quit early.</li>
  </ul>

  <h3>Potential Contributors</h3>
  <a id="_ig_github" href="https://github.com/HonsonCooky/programmer-type" target="_blank">[G] GitHub</a>
  <p>
    I'm kinda assuming most people using this application are developers. To make this tool as universally helpful as
    possible, your ideas and contributions would be seriously appreciated! It's a pure <code>HTML</code>,
    <code>CSS</code> and <code>JavaScript</code> application running on GitHub pages. No <code>NPM</code> or other web
    frameworks.
  </p>
  <p>
    I work full-time, so the issues board might be more of a forum than something I actually manage and maintain.
    However, if you create a PR, I will be far more enthused to look into the changes you're wanting.
  </p>
</div>
