<div id="info-message">
  <h3>Welcome</h3>
  <p>
    Ever felt like your keyboard is a mysterious artifact from an ancient
    civilization? Fear not, brave coder! Programmer-Type is here to transform
    you into a keyboard wizard faster than you can say “Hello, World!” Whether
    you’re looking to master new keyboard layouts, discover shortcuts that make
    your fingers dance, or simply want to test your programming typing speed,
    we’ve got you covered. Say goodbye to the days of hunting and pecking like a
    lost pigeon and hello to the era of lightning-fast, error-free typing! Join
    us on this epic quest to conquer the keyboard and become the ultimate typing
    legend! (Or maybe just reduce your skill issues).
  </p>

  <h3>Keyboard Inputs</h3>
  <p>
    Designed with context-driven keyboard navigation in mind (kind of the whole
    point of the application). Turn off your Vimium and follow the bindings
    wrapped with braces <code>[X]</code>. Context-driven meaning that if some
    sub-menu is open, only keys from this menu will be valid next inputs;
    Anything else will reset the context. You can view the current key
    combination in the bottom right; Where *base* indicates that you have no
    context. The buttons work too, but don't be expecting a flawless experience
    if you're jumping from mouse interactions to keyboard interactions.
  </p>
  <h3>Suite Types</h3>
  <p>
    A keyboard layout's effectiveness goes beyond being able to just program.
    There is OS navigation, File Navigation, Web Searches and other common
    actions that a keyboard centric developer may want to test out. In the
    "Problem Set", you will find a range of different tests:
  </p>
  <div>
    <table>
      <thead>
        <tr>
          <th>Type</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Code</td>
          <td>
            Coding challenges are simple typing tests, but with programs instead
            of random words. New line characters are explicitly defined. Beware,
            word wrap is on.
          </td>
        </tr>
        <tr>
          <td>Action</td>
          <td>
            Action challenges require you to follow the instructions on screen,
            and enter in commands perfectly. Invalid inputs will reset the line.
            Completed lines may have some action associated with them, which
            will usually be explained in the comment above, but will also be be
            indicated as done with an additional comment added to the line.
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <h3>Caching Tests</h3>
  <p>
    Down the bottom of your screen is a "Cache" checkbox for the local storage
    of test data. By unchecking this box, you will clear all local storage, and
    make requests for test data upon each new test. While the checkbox is
    checked, tests will only make a request on first load. You can "refresh" the
    tests by simply unchecking and rechecking this checkbox.
  </p>
  <h3>Potential Contributors</h3>
  <a
    id="_ig_github"
    href="https://github.com/HonsonCooky/programmer-type"
    target="_blank"
    >[G] GitHub</a
  >
  <p>
    I'm kinda assuming most people using this application are developers. To
    make this tool as universally helpful as possible, your ideas and
    contributions would be seriously appreciated! It's a pure <code>HTML</code>,
    <code>CSS</code> and <code>JavaScript</code> application running on GitHub
    pages. No <code>NPM</code>
  </p>
  <p>
    Whilst I would love to have a larger array of programming languages on
    offer, it's important to remember the point of the <code>Code</code> typing
    tests; To ensure common character sequences can be easily typed. The current
    array of languages on offer provide a pretty good range of possible
    character combinations. Additional programming languages should only be
    added if:<br />
    1) Certain character combinations cannot be achieved in existing languages,
    and<br />
    2) Said character combinations are frequent in more than one language.<br />
    This just ensures easier maintenance over time.
  </p>
  <p>
    Also worth noting; <code>Action</code> tests should be application specific
    with comments to aid in
  </p>
</div>
